<!doctype html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="styles.css">
		<title>Anytout</title>
	</head>
	<body>
	<form method="POST" action="/create_post" style="text-align:center;">
		<label for="thought">Share a thought:</label><br>
		<textarea 
        	name="thought" 
        	id="thought"
        	rows="4" 
        	cols="40"
        	placeholder="Write your thought here..."
        	required>
    		</textarea><br>
		<button type="submit">Post Thought</button>
	</form>
	</body>
</html>